

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Blog */
.blog.posts {
  margin: 0;
}
.boxed,
.blog.posts > li {
  padding: 20px 25px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}
.blog.posts > li {
  display: block;
  margin-right: 21px;
  margin-bottom: 20px;
}
.blog.posts > li div.more {
  # font-weight: bold;
#  display: none;
}
.blog.posts > li .details .meta .author {
  font-weight: normal;
}
.blog.posts > li .details .meta .date {
  color: #999;
  float: right;
}
.blog.posts > li .snapshot {
  text-align: center;
  margin-bottom: 10px;
}

/**** Posts *****/

.post h1 {
  margin-top: 0;
}

.post-meta {
  font-size: 95%;
  color: #aaa9a9;
  font-style: italic;
  margin-bottom: 15px;
}

.post-meta .post-date, .post-meta .post-author {
  font-style: normal;
  color: #333;
}

.post .sidebar .about img {
  width: 90px;
  margin-right: 10px;
  float: left;
}

.post .sidebar .about {
  font-family: 'Amatic SC', 'Open Sans', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 36px;
}

.post .sidebar ul.related {
  list-style-type: none;
  margin-left: 0;
}

.post .sidebar .related .post-meta {
  margin-bottom: 0;
}

.caption {
  font-size: 95%;
  text-align: center;
}


