---
layout: blog
categories: post
---

<div class="post">
<div class="row">
  <div class="span8">
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
      Posted on <span class="post-date">{{ page.date | date_to_long_string }}</span>
      by
      <span class="post-author"><a href="https://github.com/{{page.author}}">{{ page.author }}</a></span>
    </div>

    {% if page.snapshot %}
      <div class="snapshot">
        <img src="/img/projects/{{ page.snapshot }}.png">
      </div>
    {% endif %}

    {{content}}
</div>
</div>

